.DS_Store
.vscode/*
__pycache__

models/*

notebooks/logs/*
notebooks/results/*
notebooks/.ipynb_checkpoints/*

data/*
data/images/*
data/captions/*

dataset/*
dataset/images/*
dataset/captions/*

!data/images/.gitkeep
!data/captions/.gitkeep

saved_dataset/*
.ipynb_checkpoints/*